[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vidgear = {extras = ["asyncio"], version = "*"}
imageio = "*"
numpy = "*"
python-dotenv = "*"
opencv-contrib-python = "*"
simplejpeg = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
line-profiler = "*"

[requires]
python_version = "3.9"
