[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vidgear = {extras = ["asyncio"], version = "*"}
imageio = "*"
numpy = "*"
python-dotenv = "*"
opencv-contrib-python = "*"
django = "*"
pillow = "*"
uvicorn = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
line-profiler = "*"
pylint-django = "*"

[requires]
python_version = "3.9"

[scripts]
serve = "uvicorn django_config.asgi:application --host 0.0.0.0 --port 8000"