{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Intruder{% endblock title %}

{% block content %}
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-centered">
          <div class="column is-half">
            <figure class="image is-16by9">
              <img src="{{intruder.thumbnail_media_url}}" alt="Intruder Thumbnail" class="has-ratio"/>
            </figure>
            <div class="box">
              <h1 class="title has-text-dark">Delete Intruder</h1>
              <hr />

              <form method="post">
                {% csrf_token %}
                  
                <p class="content"> Are you sure you want to <strong>delete</strong> this intruder?</p>    
                
                <div class="control">
                  <a href="{% url 'intruder_list' %}" class="button is-warning my-4 mx-4">Cancel</a>
                  <button type="submit" class="button is-danger my-4 mx-4">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </section>

{% endblock content %}
