{% extends 'base.html' %} 

{% block title %}Manage Cameras{% endblock title %}

{% block content %}
PLACEHOLDER Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti incidunt deserunt
unde, a sit autem quisquam facere. Velit iusto, aut possimus labore optio culpa, nulla maxime veniam
sequi, alias tempore. Atque velit eius repellat dolore dolorum doloribus suscipit ipsum, laborum
incidunt? Assumenda ipsum asperiores architecto animi delectus iure consequuntur eveniet nam illo
quibusdam sapiente ipsam voluptates nesciunt, ut quas blanditiis aut obcaecati praesentium in
repellendus alias dolore! Unde aut dolorum reiciendis possimus officiis! Voluptas quaerat nobis
saepe earum qui, nam quisquam ipsum voluptate consequuntur rem tempora? Pariatur, voluptatum
corporis, aut ut ipsa harum a nostrum, nam dolore sapiente ex adipisci? 

{% endblock content %}
