<div class="column is-2 mt-5">
  <aside class="sidebar menu has-background-grey-light pt-5 px-3">
    <p class="menu-label is-size-4 has-text-dark has-text-centered">Cameras</p>
    <ul class="menu-list">
      {% if cameras %}
        {% for camera in cameras %}
          <li><a class="is-size-4 has-text-dark" href="{% url 'view_camera' camera.pk %}">{{camera.name}}</a></li>
        {% endfor %}
        <hr style="border-top: 1px solid black;">
        {% else %}
        <li class="is-size-4 has-text-dark">No cameras available</li>
        {% endif %}
        <li><a href="{% url 'add_camera' %}" class="is-size-4 has-text-dark">Add a camera</a></li>
    </ul>
  </aside>
</div>
