{% extends 'base.html' %}
{% load static %}

{% block title %} All cameras {% endblock title %}

{% block content %}
  <div class="columns">
    {% include 'sidebar.html' %}
    <div class="column is-10">
      <div class="container pt-6">
        <div class="box">

          <h1 class="title has-text-centered">All Camera Live Feed</h1>
          <div class="video-container">
            <video id="video"></video>
            <button id="play-btn" class="button">Play</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    {{live_feed|json_script:"liveFeedUrl"}}
    <script src="{% static 'liveFeed.js' %}"></script>
{% endblock content %}