{% extends 'base.html' %}
{% load static %}
{% block title %} {{camera.name}} {% endblock title %}

{% block content %}
  <div class="columns">
    {% include 'sidebar.html' %}
    <div class="column is-10">
      <div class="container pt-6">
        <div class="box">

          <h1 class="title has-text-centered">{{camera.name}} Live Feed</h1>
          <div class="video-container ">
            <video id="video"
              class="has-ratio"
              autoplay="true"
              controls=""
              playsinline="true"
              muted="true">
            </video>
          </div>
        </div>
      </div>
    </div>
    {{ camera.stream_link|json_script:"liveFeedUrl" }}
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="{% static 'js/liveFeed.js' %}" type="text/javascript"></script>
{% endblock content %}