{% extends 'base.html' %}

{% block title %} {{camera.name}} {% endblock title %}

{% block content %}
  <div class="columns">
    {% include 'sidebar.html' %}
    <div class="column is-10">
      <div class="container pt-6">
        <div class="box">

          <h1 class="title has-text-centered">{{camera.name}} Live Feed</h1>
          <div class="video-container ">
            <video id="video"
              class="has-ratio"
              autoplay="true"
              controls=""
              playsinline="true"
              muted="true">
            </video>
            {% if camera.is_ptz %}
              <div class="ptz-controls">
                <div class="has-text-centered is-size-5">Move the camera (Experimental)</div>
                <div class="buttons">
                  <button class="button up-btn">Up</button>
                  <button class="button down-btn">Down</button>
                  <button class="button left-btn">Left</button>
                  <button class="button right-btn">Right</button>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock content %}